<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- Site Metas -->
    <title>智选zhixuan</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="../static/images/zhoxuan.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../static/images/zhixuan-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="../static/css/versions.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../static/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/custom.css">

    <!-- Modernizer for Portfolio -->
    <script src="../static/js/modernizer.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<body class="host_version">

    <!-- LOADER -->
	<div id="preloader">
		<div class="loader-container">
			<div class="progress-br float shadow">
				<div class="progress__item"></div>
			</div>
		</div>
	</div>
	<!-- END LOADER -->

    <!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="index.html">
					<img src="../static/images/zhixuan-log.png" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-host">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href=/contact/>首页</a></li>
						<li class="nav-item active"><a class="nav-link" href=/about/>岗位</a></li>
						<li class="nav-item"><a class="nav-link" href=/teachers/>统计</a></li>
						<li class="nav-item"><a class="nav-link" href=/blog/>帮助</a></li>
                        <li class="nav-item"><a class="nav-link" href=/blog-single/">个人主页</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->

	<div class="all-title-box">
		<div class="container text-center">
			<h1>智能化简历筛选<span class="m_1">Intelligent resume screening.</span></h1>
		</div>
	</div>

    <div class="container">
        <div class="form-group">
            <div class="col-lg-12">
                <form action="/about/" method="POST" class="search-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <hr>
                        <input type="text" name="position" class="form-control" placeholder="岗位要求" style="width: 600px;">
                    </div>
                    <div class="form-group">
                        <input type="text" name="description" class="form-control" placeholder="其他描述要求" style="width: 600px;">
                    </div>
                    <button type="submit" class="btn btn-primary">搜索</button>
                </form>
            </div>
        </div>
    </div>

    <div id="overviews" class="section lb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <h3>{{ n0 }}岗位画像</h3>
                    <p class="lead">{{ n2 }}</p>
                </div>
            </div><!-- end title -->

            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <!-- <h4>2018 BEST SmartEDU education school</h4> -->
                        <div class="row align-items-center">
                            <h4 style="margin-right: 20px;">{{ n1.candite1.0.姓名 }}</h4>
                            <span style="font-size: small;">{{ n1.candite1.0.工作年限 }}年工作经验</span>
                        </div>
                            <p>
                                {{ n1.candite1.0.性别 }} | {{ n1.candite1.0.年龄 }} | {{ n0 }} | {{ n1.candite1.0.经历 }}
                            </p>
                            <p>
                                 {{ n1.candite1.0.学历 }}
                            </p>
                            <div class="row align-items-center">
                                <p style="margin-right: 20px;">
                                    推荐理由：{{ n1.candite1.0.工作年限 }}年及以上 {{ n1.candite1.0.学历 }} {{ n0 }}
                                </p>
                            </div>


                        <a href="course-grid-2.html" class="hover-btn-new orange"><span>更多</span></a>
                    </div><!-- end messagebox -->
                </div><!-- end col -->

				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <!-- <h4>2018 BEST SmartEDU education school</h4> -->
                        <div class="row align-items-center">
                            <h3 style="margin-right: 20px;">{{ n1.candite2.1.姓名 }}</h3>
                            <span style="font-size: small;">{{ n1.candite2.1.工作年限 }}年工作经验</span>
                        </div>

                        <p>
                            {{ n1.candite2.1.性别 }} | {{ n1.candite2.1.年龄 }} | {{ n0 }} | {{ n1.candite2.1.经历 }}
                        </p>
                        <p>
                            {{ n1.candite2.1.学历 }}
                        </p>
                        <div class="row align-items-center">
                            <p style="margin-right: 20px;">
                                推荐理由：{{ n1.candite2.1.工作年限 }}及以上  {{ n1.candite2.1.学历 }} {{ n0 }}
                            </p>
                        </div>

                        <a href="course-grid-3.html" class="hover-btn-new orange"><span>更多</span></a>
                    </div><!-- end messagebox -->
                </div>

 				<!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                        <img src="images/about_02.jpg" alt="" class="img-fluid img-rounded">
                    </div> --><!-- end media -->
                <!-- </div> --><!-- end col -->
			</div>

			<div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <!-- <h4>2018 BEST SmartEDU education school</h4> -->
                        <div class="row align-items-center">
                            <h4 style="margin-right: 20px;">{{ n1.candite3.0.姓名 }}</h4>
                            <span style="font-size: small;">{{ n1.candite3.0.工作年限 }}年工作经验</span>
                        </div>
                            <p>
                                {{ n1.candite3.0.性别 }} | {{ n1.candite3.0.年龄 }} | {{ n0 }} | {{ n1.candite3.0.经历 }}
                            </p>
                            <p>
                                 {{ n1.candite3.0.学历 }}
                            </p>
                            <div class="row align-items-center">
                                <p style="margin-right: 20px;">
                                    推荐理由：{{ n1.candite3.0.工作年限 }}年及以上 {{ n1.candite3.0.学历 }} {{ n0 }}
                                </p>
                            </div>


                        <a href="course-grid-2.html" class="hover-btn-new orange"><span>更多</span></a>
                    </div><!-- end messagebox -->
                </div><!-- end col -->

				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <!-- <h4>2018 BEST SmartEDU education school</h4> -->
                        <div class="row align-items-center">
                            <h3 style="margin-right: 20px;">{{ n1.candite4.1.姓名 }}</h3>
                            <span style="font-size: small;">{{ n1.candite4.1.工作年限 }}年工作经验</span>
                        </div>

                        <p>
                            {{ n1.candite4.1.性别 }} | {{ n1.candite4.1.年龄 }} | {{ n0 }} | {{ n1.candite4.1.经历 }}
                        </p>
                        <p>
                            {{ n1.candite4.1.学历 }}
                        </p>
                        <div class="row align-items-center">
                            <p style="margin-right: 20px;">
                                推荐理由：{{ n1.candite4.1.工作年限 }}及以上  {{ n1.candite4.1.学历 }} {{ n0 }}
                            </p>
                        </div>

                        <a href="course-grid-3.html" class="hover-btn-new orange"><span>更多</span></a>
                    </div><!-- end messagebox -->
                </div>

 				<!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                        <img src="images/about_02.jpg" alt="" class="img-fluid img-rounded">
                    </div> --><!-- end media -->
                <!-- </div> --><!-- end col -->
			</div>
        </div><!-- end container -->
    </div><!-- end section -->

	<div class="hmv-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">
					<div class="inner-hmv">
						<div class="icon-box-hmv"><i class="flaticon-achievement"></i></div>
						<h3>投资顾问【北京】</h3>
						<div class="tr-pa">M</div>
						<p>需：6人  简历：100份</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="inner-hmv">
						<div class="icon-box-hmv"><i class="flaticon-eye"></i></div>
						<h3>开发工程师【上海】</h3>
						<div class="tr-pa">V</div>
						<p>需：19人  简历：50份</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="inner-hmv">
						<div class="icon-box-hmv"><i class="flaticon-history"></i></div>
						<h3>风险投资人</h3>
						<div class="tr-pa">H</div>
						<p>需：2人  简历：17份</p>
					</div>
				</div>
			</div>
		</div>
	</div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>关于我们</h3>
                        </div>
                        <p>工业软件创新工程实践课程智选项目组</p>、
                        <p>符梓璇 祁婕 王子瑶 徐思恬 王雨萌</p>
                        <div class="footer-right">
							<ul class="footer-links-soi">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-github"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
							</ul><!-- end links -->
						</div>
                    </div><!-- end clearfix -->
                </div><!-- end col -->

				<div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>网站连接</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a href="#">首页</a></li>
                            <li><a href="#">统计</a></li>
                            <li><a href="#">岗位</a></li>
							<li><a href="#">帮助</a></li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>联系我们</h3>
                        </div>

                        <ul class="footer-links">
                            <li><a href="mailto:#">111111111@qq.com</a></li>
                            <li><a href="#">https://github.com/mikasaili/zhixuan</a></li>
                            <li>江苏省苏州市姑苏区干将东路333号苏州大学</li>
                            <li>88888888</li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->

            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-center">
                    <p class="footer-company-name">All Rights Reserved. &copy; 2023 <a href="#">统计</a> Design By : <a href="https://html.design/">html design</a></p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="../static/js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="../static/js/custom.js"></script>

</body>
</html>
