<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>智选 - Intelligent Resume Parsing System</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../static/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="../static/css/versions.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../static/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/custom.css">

    <!-- Modernizer for Portfolio -->
    <script src="../static/js/modernizer.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="host_version"> 

    <!-- LOADER -->
	<div id="preloader">
		<div class="loader-container">
			<div class="progress-br float shadow">
				<div class="progress__item"></div>
			</div>
		</div>
	</div>
	<!-- END LOADER -->	

    <!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="index.html">
					<img src="../static/images/zhixuan.png" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-host">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href=/contact/>首页</a></li>
						<li class="nav-item"><a class="nav-link" href=/about/>岗位</a></li>
						<li class="nav-item"><a class="nav-link" href=/teachers/>统计</a></li>
						<li class="nav-item"><a class="nav-link" href=/blog/>帮助</a></li>
                        <li class="nav-item active"><a class="nav-link" href=/pricing/>个人主页</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->


    <div id="testimonials" class="parallax section db parallax-off" style="background-image:url('../static/images/parallax_04.jpg');">
        <div class="container">
            <div class="section-title text-center">
                <h3><strong>张三三 </strong></h3> <h3>个人主页</h3>
			<p>Email: zhangsansan@hr.com</p>
			<p>Phonenumber: 16627283722</p>
            </div><!-- end title -->

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="testi-carousel owl-carousel owl-theme">
                        <div class="testimonial clearfix">
							<div class="testi-meta">
                                <img src="../static/images/testi_01.png" alt="" class="img-fluid">
                                <h4>张三三</h4>
                            </div>
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> 铂金会员</h3>
                                <p class="lead">已使用本产品完成18个岗位的人才简历筛选解析</p>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->

                    </div><!-- end carousel -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->


    <div id="overviews" class="section wb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <p class="lead">智选提供更先进、更可靠、更个性化、更全面的人才管理和招聘服务，并且在人才画像构建、招聘流程管理和统计分析、人工智能算法和技术等方面进行不断的创新和改进。</p>
                </div>
            </div><!-- end title -->

                <div class="col-md-30 col-sm-60">
                    <div class="pricingTable pink">
                        <div class="pricingTable-header">
                            <span class="heading">
                                <h3>上传简历</h3>
                            </span>
                            <span class="price-value"><span>已收到</span>169<span class="month">份简历</span> <span>78份未处理</span><span>91份已解析</span></span>
                        </div>

                        <div class="pricingContent">
                            <i class="fa fa-briefcase"></i>
                            <ul>
                                <li>最后更新：12/Jul/2023 22:27:42</li>
                            </ul>
                            <form action="/updateinfo/" method="POST" enctype="multipart/form-data">
{% csrf_token %}
    <div class="updateImg">
        <img src="{{ account.photo.url }}" alt=""/></div>

    <input name="photo" type="file" id="exampleInputFile">
            <div id="overviews" class="section wb">
       						 <div class="container">
            					</div><!-- end title -->
    <button id="photo" class="btn btn-light btn-radius btn-brd grd1" type="submit">点此上传</button>
</form>
                        </div><!-- BUTTON BOX-->
                        </div><!--CONTENT BOX-->
                    </div>
                </div>

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="../static/js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="../static/js/custom.js"></script>

</body>
</html>
